black==24.2.0
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
commonmark==0.9.1
debugpy==1.8.1
dnspython==2.6.1
elastic-transport==8.12.0
elasticsearch==7.17.9
geographiclib==2.0
geopy==2.4.1
idna==3.6
importlib-metadata==7.0.1
mypy-extensions==1.0.0
numpy==1.26.4
packaging==23.2
pathspec==0.12.1
pillow==10.2.0
platformdirs==4.2.0
Pygments==2.17.2
pyModeS==2.17
pymongo==4.6.2
pyrtlsdr==0.3.0
pyzmq==24.0.1
requests==2.31.0
rgbmatrix==0.0.1
RPi.GPIO==0.7.1
spidev==3.5
terminaltables==3.1.10
tomli==2.0.1
typed-ast==1.5.5
typing_extensions==4.9.0
urllib3==1.26.18
zipp==3.17.0
